header{
    margin: 10rem 0 5rem 0;
    
}
.header-div--h1, .header-div--h2 {
    text-align: center; 
    font-family: Arial; 
    font-size: 5rem; 
    COLOR: #ffffff; 
    text-shadow: 0px 0px 9px #72b1ff;
}
.header-div--h2{
    font-size: 2rem;
}
.seccion-div--h2{
    text-align: center;
}
.header-div--p{
    text-align: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: bold; 
    font-size: 1.5rem; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgb(141, 245, 6),0px -1px 1px rgba(0,0,0,0.3);
}
.nav-redes{
    width: 0;
    padding: 0 2rem 0 2rem ;
    font-size: 1.2rem;
    display: flex;
}
.nav-link {

}
.div-ul--redes{
    justify-content: end;
}
.svg-inline--fa {
    height: 1.5em !important;
}
.section-about, .section-contact  {
    padding: 6rem 0;
    background-color:#303b4f67;
}
.section-services{
    padding: 6rem 0;
}
.div-seccion--contact{
    text-align: -webkit-center;
}
.div-contact--p{
    text-align: initial;
}
.footer{
    background-color: black;
}
.footer-div--logobanu{
    width: 12rem;
}
/* Grow Rotate */
.grow-rotate {
    display: inline-block;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    -webkit-transition-property: transform;
            transition-property: transform;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow-rotate:hover,
.grow-rotate:focus,
.grow-rotate:active{
    -webkit-transform: scale(1.6) rotate(6deg);
            transform: scale(1.6) rotate(6deg);
}

/* --------- animacion animista--------*/
.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}
 @-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
/* Ocultar para el responsive */
@media screen and (max-width: 993px) {
    .ocultar-div{
        display:none !important;
    }
    .header-div--h1{
        font-size: 3rem;
    }
}